@model IEnumerable<AgenciaNoticias.Models.Secao>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Cadastrar", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Gerente
            @*@Html.DisplayNameFor(model => model.Pessoa.nome)*@
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dataCadastro)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Pessoa.nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dataCadastro)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.codSecao }) |
            @Html.ActionLink("Detalhes", "Details", new { id = item.codSecao }) |
            @Html.ActionLink("Deletar", "Delete", new { id = item.codSecao })
        </td>
    </tr>
}

</table>
