@model IEnumerable<AgenciaNoticias.Models.Pessoa>

@{
    ViewBag.Title = "Index";
}

<h2>Pessoas</h2>

<p>
    @Html.ActionLink("Cadastrar", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.funcao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ddd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telefone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ativo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dataCadastro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.senha)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.funcao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ddd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telefone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ativo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dataCadastro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.senha)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.codPessoa }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.codPessoa }) |
            @Html.ActionLink("Deletar", "Delete", new { id=item.codPessoa })
        </td>
    </tr>
}

</table>
