@model IEnumerable<AgenciaNoticias.Models.Materia>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Jornalista.nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Publicador.nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Revisor.nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Secao.nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.materiaEscrita)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dataCadastro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dataAtualizacao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Jornalista.nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Publicador.nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Revisor.nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Secao.nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.materiaEscrita)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dataCadastro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dataAtualizacao)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.codMateria }) |
            @Html.ActionLink("Details", "Details", new { id=item.codMateria }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.codMateria })
        </td>
    </tr>
}

</table>
