@model IEnumerable<AgenciaNoticias.Models.Materia>

@{
    ViewBag.Title = "Index";
}

<h2>Matérias</h2>

<p>
    @Html.ActionLink("Cadastrar", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Jornalista
            @*@Html.DisplayNameFor(model => model.Jornalista.nome)*@
        </th>
        <th>
            Publicador
            @*@Html.DisplayNameFor(model => model.Publicador.nome)*@
        </th>
        <th>
            Revisor
            @*@Html.DisplayNameFor(model => model.Revisor.nome)*@
        </th>
        <th>
            Seção
            @*@Html.DisplayNameFor(model => model.Secao.nome)*@
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.materiaEscrita)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dataCadastro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dataAtualizacao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Jornalista.nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Publicador.nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Revisor.nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Secao.nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.materiaEscrita)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dataCadastro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dataAtualizacao)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.codMateria }) |
            @Html.ActionLink("Detalhes", "Details", new { id = item.codMateria }) |
            @Html.ActionLink("Deletar", "Delete", new { id = item.codMateria })
        </td>
    </tr>
}

</table>
