@model AgenciaNoticias.Models.Secao

@{
    ViewBag.Title = "Create";
}

<h2>Cadastrar</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Seção</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.secao, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.secao, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.secao, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.codPessoa_Gerente, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("codPessoa_Gerente", String.Empty)
                @Html.ValidationMessageFor(model => model.codPessoa_Gerente)
                @*@Html.DropDownListFor(model => model.codPessoa_Gerente, ViewBag.)*@
                @*@Html.DropDownListFor(model => model.codPessoa_Gerente, db.MyOptions.Select(x => new SelectListItem 
           { Text = x.Name, Value = x.Id.ToString() }))*@
            </div>
        </div>

        @*<div class="editor - label ">
            48 @Html . LabelFor ( model => model . SelecaoId )
            49
        </div>
        50 <div class="editor - field ">
            51 @Html . DropDownList (" SelecaoId ", String . Empty )
            52 @Html . ValidationMessageFor ( model => model . SelecaoId )
            53
        </div>*@


        @Html.HiddenFor(model => model.dataCadastro, new { Value = DateTime.Now })

        @*<div class="form-group">
            @Html.LabelFor(model => model.dataCadastro, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.dataCadastro, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.dataCadastro, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Gravar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Voltar", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
