@model AgenciaNoticias.Models.Secao

@{
    ViewBag.Title = "Delete";
}

<h2>Deletar</h2>

<h3>Você tem certeza que quer deletar essa seção?</h3>
<div>
    <h4>Seção</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.secao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.secao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.codPessoa_Gerente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.codPessoa_Gerente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dataCadastro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dataCadastro)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Deletar" class="btn btn-default" /> |
            @Html.ActionLink("Voltar", "Index")
        </div>
    }
</div>
